<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335367644035-1ht95tro17esa9s97n8svf201hr3nnts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335367644035-1ht95tro17esa9s97n8svf201hr3nnts</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>335367644035-go2fo21ssb7c3j05395p9cklogpjcbkh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdCKbJFBGFKK_2asQogK0-cMClzp6vFc4</string>
	<key>GCM_SENDER_ID</key>
	<string>335367644035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.dailymistika.runeOfTheDay</string>
	<key>PROJECT_ID</key>
	<string>runeoftheday-70767</string>
	<key>STORAGE_BUCKET</key>
	<string>runeoftheday-70767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335367644035:ios:74e64ac2a6f971ad8d8cb6</string>
	<key>DATABASE_URL</key>
	<string>https://runeoftheday-70767.firebaseio.com</string>
</dict>
</plist>